#wlt-DealView .blueBox .buyButton {background-image: url(../images/buyButtonBcgIE.png);}
.classic-theme .priceOption a.priceBuyButton {background-image: url(../images/buyButtonSmallBcgIE.png);}
html[lang="he"] #wlt-DealView .blueBox .buyButton {background-image: url(../images/buyButtonBcgIERTL.png);}