/* classic theme */
html {height: 100%}
body {background: #89ac60 url(../images/bcg.png) repeat-x top left; height:100%; padding: 0; margin: 0;}
#wrapper {min-height: 100%; position: relative;}
#space {height: 165px;}
a, a:active {color: #0091b5; text-decoration: none;}
a:hover, a:focus {color: #00aecb; text-decoration: underline}
#page {padding:0 0 1em 0}
#header {background-color:#000}
#header h2 {margin: .5em 0 0 2em; line-height: 1; font-size: 150%; color: #9cb77d}
#header h2 a {display: block; font-weight: bold; font-size: 150%; color: #fff;}
#header h2 a:hover, #header h2 a:active {text-decoration: none;}
#footer {height: 135px; position:absolute; bottom: 0; left: 0; right: 0; background-color:#333; color:#999; padding: 1em; border-top: 5px solid #666}
#footer a{color: #ccc;}
#footer a:hover {color: #fff;}
#footer hr {background-color: #666;}
h1 {font-size: 2.5em; line-height: 1.2; font-weight: bold; margin: 0 2em 1em 2em; padding: 0;}
h1 a {text-decoration: none}
.buttons input {margin-left: -4px; font-weight: bold; background: url(../images/button.png) 0 0 no-repeat; width: 149px; height: 37px; color: #fff; border: 0; padding: 0 0 3px 0; cursor: pointer}

/* splash */
body.splash {background: #fff url(../images/splash/city.jpg) top center no-repeat;}
body.splash #header {border-bottom: 5px solid #9cb77d}
body.splash #header h2 {float: right; color: #fff; text-align: right; font-size: 2em; width: 35%}
body.splash #wlt-DealSubscription {position: absolute; top: 50%; left: 50%; width: 500px; height: 300px; margin: -150px 0 0 -250px;}

/* header */
#header, #header a {color: #fff;}

/* location select */
#wlt-LocationSelect {background-color: #333333; border: 1px dashed #4d4d4d;}
#wlt-LocationSelect .worklet-content {font-size: 120%; font-weight: bold; color: #fff}
#wlt-LocationSelect .worklet-content a {color: #ccc;}
#wlt-LocationSelect .worklet-content li a {font-size: 90%;}
#wlt-LocationSelect .currentCountry, #wlt-LocationSelect a {padding: .2em;}
#wlt-LocationSelect ul li {border: 1px dashed #4d4d4d; border-width: 1px 1px 0 0;}
#wlt-LocationSelect ul li.country, #wlt-LocationSelect ul li.state, #wlt-LocationSelect ul li a {display: block; padding: 0 10px; margin: 0; width: 137px; height: 30px; line-height: 30px}
#wlt-LocationSelect ul li.country, #wlt-LocationSelect ul li.state {border: none; background-color: #404040; width: auto;}
#wlt-LocationSelect a:hover {background-color: #666; color: #fff}
#wlt-LocationSelect ul li.current, #wlt-LocationSelect a.current {background-color: #666}

/* deal subscribe */
#wlt-DealSubscribe {background-color: #333333; border: 1px dashed #4d4d4d}
#wlt-DealSubscribe label {color: #fff;}
#wlt-DealSubscribe .buttons input {margin-left: 0; font-weight: bold; background: url(../images/buttonOnBlack.png) 0 0 no-repeat; width: 113px; height: 25px; color: #fff; border: 0; padding: 0 0 3px 0; cursor: pointer}

/* top menu */
.topmenu {float: right; max-width: 50%;}
.topmenu ul.horizontal li {background: url(../images/arrow.png) right 8px no-repeat; padding:0 14px 0 0; margin: 0 0 0 1.5em; line-height: 23px;}
.topmenu li a {font-size: 120%; color: #fff}

/* language select */
#wlt-BaseLanguage {color: #ccc;}
#wlt-BaseLanguage .langSelector {background: #000; border: 1px solid #999; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#wlt-BaseLanguage a {padding: 0 3px; margin: 5px 0 0 0; color: #fff; text-decoration: none;}
#wlt-BaseLanguage a:hover {text-decoration: none; background-color: #4d4d4d}
#wlt-BaseLanguage a:active {text-decoration: none;}
#wlt-BaseLanguage a[name="selector"] {color: #ccc; margin:0; padding: 0 12px 0 3px; background: url(../images/arrowSmall.gif) 97.5% 50% no-repeat;}
#wlt-BaseLanguage a[name="selector"]:hover {text-decoration: none}

/* main menu */
#mainmenu {border-top: 5px solid #9cb77d; background:#4eacb7 url(../images/mainMenuBcg.png) top left repeat-x;padding:0; height: 50px;}
#mainmenu ul {padding:0;margin:0;}
#mainmenu ul li {padding: 0;border:0; background: transparent; margin:0; font-size:100%; font-weight: bold;}
#mainmenu ul li a {background: transparent; display:block;color:#fff;text-decoration:none;height:50px;padding:0 1em;line-height:50px;}
#mainmenu ul li a:hover {background:url(../images/mainMenuItemBcg.png)}
#mainmenu .worklet {margin: 0;}

/* worklets */
#page .worklet {margin: 1em 0 0 0;}
.worklet .worklet {margin: 1em 0 1em 0;}
.worklet-title {}
.worklet-content {}

/* rounded box */
#page .roundedBox {margin: 1em 0 0 0}
.roundedBox .boxContent {background-color:#fff;padding:1em}
.roundedBox .borders {border:2px solid #5a8e22;}
.roundedBox .t {border-width:2px 0 0 0;margin:0 7px;background-color:#fff;height:7px;font-size:1px;}
.roundedBox .b {border-width:0 0 2px 0;margin: 0 7px;background-color:#fff;height:7px;font-size: 1px;}
.roundedBox .l {border-width:0 0 0 2px;}
.roundedBox .r {border-width:0 2px 0 0 ;}
.roundedBox .tl{background: url(../images/box.png) 0 0 no-repeat;}
.roundedBox .tr{background: url(../images/box.png) 100% 0 no-repeat;}
.roundedBox .bl{background: url(../images/box.png) 0 100% no-repeat;}
.roundedBox .br{background: url(../images/box.png) 100% 100% no-repeat;}

/* blueBox */
.blueBox th, td {background: transparent}
#wlt-DealView .blueBox {margin-bottom: 1em}
#wlt-DealView .blueBox .header {background: #00b8cc url(../images/blueBoxHeaderBcg.png) 0 0 no-repeat}
#wlt-DealView .blueBox .content {background-color: #d0ebf2; border: 1px solid #8cb7c7; border-top-width: 0}
#wlt-DealView .blueBox .price {color: #fff; font-size: 200%; line-height: 60px; text-align: center;}
#wlt-DealView .blueBox .buyButton {padding: 0 0 0 19px; margin: 10px; width: 98px; height: 38px; float: right; cursor: pointer;background: #66bc29 url(../images/buyButtonBcg.png) 0 0 no-repeat; color: #fff; font-size: 200%; border: 1px solid #d9d9d9;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
#wlt-DealView .blueBox .unavailable {font-size: 110%; padding-left: 5px; width: 114px; line-height: 38px;}
#page #wlt-DealView .blueBox table {width: 80%; margin: 0 auto; line-height: 1;}
#page #wlt-DealView .blueBox th,td {text-align: center;}
#page #wlt-DealView .blueBox th {background-color: transparent;}
#page #wlt-DealView .blueBox td {font-size: 150%;}
.classic-theme #wlt-DealSide .sideDeal {font-size: 120%;}
.classic-theme #wlt-DealSide .sideDeal a {font-weight: bold}
.classic-theme #wlt-DealSide .sideDeal a.viewLink {text-align: center; display: block; color: #fff; font-weight: bold; margin: 0; font-size: 70%; background: #9cb77d; padding: 0 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#wlt-DealView .shareMenu li.h {font-size: 110%; font-weight: bold; color: #333333;}

/* greenBox */
.greenBox {background-color: #ddf2d0; border: 1px solid #97c78c; padding: 1em; margin-bottom: 1em}

/* jquery ui slider */
#wlt-DealStatus .ui-slider-handle {background: url(../images/slider/handler.png) 0 0 no-repeat;border: 0;top: -.8em;margin-left: -4px;width: 8px;height: 8px;}
#wlt-DealStatus a.ui-corner-all {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
#wlt-DealStatus .ui-slider-horizontal {height: 9px; background: url(../images/slider/bcg.gif); border-color: #919191;}
#wlt-DealStatus .ui-slider-range {background: url(../images/slider/range.gif); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#wlt-DealStatus .ui-corner-all {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#wlt-DealStatus h4 {color: #4a8b1c; border-color: #97c78c}

/* timeLeft */
#wlt-DealTimeLeft h3 {background: url(../images/clock.png) top left no-repeat; line-height: 41px; padding-left: 50px;}
#wlt-DealTimeLeft .timerDiv {width: 125px; margin: 0 auto;}
#wlt-DealTimeLeft .timerDiv.withDay {width: 170px; margin: 0 auto;}
#wlt-DealTimeLeft .countdownItem {float: left; font-size: 90%; font-weight: normal; text-align:center; width: 35px; overflow: hidden; margin: 0;}
#wlt-DealTimeLeft .countdownItem.days {margin-right: 10px;}
#wlt-DealTimeLeft .countdownItem p {font-weight: bold; background: url(../images/timerBcg.png) top left no-repeat; width: 35px; height: 35px; color: #fff;line-height: 35px; font-size: 150%; margin: 0; padding: 0;}
#wlt-DealTimeLeft .countdownSep {float: left; font-size: 120%; color: #000; line-height: 35px;margin: 0 2px;}

/* user menu */
#wlt-UserMenu .welcome {float: right; width:230px; background: url(../images/mainMenuSep.png) 0 11px no-repeat;font-size:100%;font-weight: normal;color:#000;height:50px; margin: 0;}
#wlt-UserMenu .welcome div {padding: .7em 0 0 1em}
#wlt-UserMenu .welcome img {width: 30px; margin: 0;}
#wlt-UserMenu .welcome .logoutLink a {color: #fff; font-size: 80%;}

/* tabs */
#page .ui-tabs {font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; border: 0; background: transparent; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; padding:0; margin:0;}
#page .ui-tabs .ui-tabs-nav {background: transparent; border:0; margin-left: 14px;}
#page .ui-tabs .ui-tabs-panel {background: #fff; border: 2px solid #5a8e22; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
#page .ui-tabs .ui-tabs-nav li.ui-tabs-selected { background: #fff; margin-bottom: 0; padding-bottom: 2px; }
#page .ui-tabs .ui-tabs-nav li { background: #ddf2d0; border: 2px solid #5a8e22; top: 2px; margin-bottom: 2px 0; border-bottom: 0 !important; -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; border-top-left-radius: 7px; -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; border-top-right-radius: 7px;}
#page #wlt-DealCouponsTabs .ui-tabs-panel {border: 0;}
#page #wlt-DealCouponsTabs .ui-tabs .ui-tabs-nav li {border: 0; top: 0; margin: 0; background: #fff; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0;}
#page #wlt-DealCouponsTabs .ui-tabs .ui-tabs-nav li a {color: #0091b5}
#page #wlt-DealCouponsTabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected {font-weight: bold; background: #e5e5e5; padding-bottom: 0;}
#page #wlt-DealCouponsTabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {color: #000;}

#page form .ui-tabs {border: 0;}
#page form .ui-tabs .ui-tabs-nav {border: 0; background: transparent; margin: 0;}
#page form .ui-tabs .ui-tabs-nav li {border: 1px solid #ccc; top: 0; margin: 0 1px 0 0; background: transparent; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; padding: 0;}
#page form .ui-tabs .ui-tabs-nav li a {color: #0091b5; padding: 3px; font-size: 80%}
#page form .ui-tabs .ui-tabs-nav li.ui-tabs-selected {border-color: #ccc; background: transparent; padding: 0;}
#page form .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {color: #000;}
#page form .ui-tabs .ui-tabs-panel {padding: 0; margin: 0; border: 0;}

/* dialog */
.ui-dialog.ui-corner-all {border: 2px solid #5a8e22; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.classic-theme .ui-dialog .ui-dialog-titlebar {background: transparent; border: none; color: #000000; font-weight: normal; padding: .5em 1em; margin: 0;}
.classic-theme .ui-dialog .ui-dialog-title {font-size: 1.5em}
.classic-theme .ui-dialog .ui-dialog-titlebar-close {right: 1em;}
.classic-theme .ui-dialog .ui-dialog-titlebar-close.ui-state-hover {background: transparent}

/* grid-view */
#page .grid-view table.items th {color: #000;background: #ddf2d0;text-align: center;}
#page .grid-view table.items th a{color: #666;font-weight: bold;text-decoration: none;}
#page .grid-view table.items th a:hover{color: #000;}
#page .grid-view table.items tr.even{background: #e9f2e4;}
#page .grid-view table.items tr.odd{background: #f7f7f7;}
#page .grid-view table.items tr.selected{background: #BCE774;}
#page .grid-view table.items tr:hover{background: #ECFBD4;}
#wlt-PaymentCart table.items tr td:first-child {text-align: left; padding: 0 1em; line-height: 2; font-size: 120%;}
#wlt-PaymentCart table.items tr td:first-child a {font-size: 75%;}

/* recent deals */
.classic-theme .recentDeal .content {border: 2px solid #97c78c; padding: .5em; margin-top: .5em}
.classic-theme .recentDeal .name a {font-size: 120%}
.classic-theme .recentDeal .stats {border: 1px solid #97c78c; background-color: #ddf2d0;}
.classic-theme .recentDeal .info {border: 1px solid #8cb7c7; background-color: #d0ebf2;}
.classic-theme .recentDeal .info .price {background-color: #8cb7c7;}

/* base follow menu and deal stats */
#wlt-BaseFollowMenu {border: 1px solid #666; padding:.5em}
#wlt-DealStats {border: 1px solid #666; padding: .5em}

/* footermenu */
#wlt-BaseFooterMenu {margin: 0;}
#wlt-BaseFooterMenu ul li a {line-height: 2.7em; display: block;}

/* slideshow */
.classic-theme .wlt-DealSlideshow .controls {margin: .5em 0 0 0; float: right;}
.classic-theme .wlt-DealSlideshow .controls a {padding:0; font-size: 1px; width: 16px; height: 16px; display: block; float: left; background: url(../images/greyDot.png) 5px 5px no-repeat; color: transparent;}
.classic-theme .wlt-DealSlideshow .controls a.active {border: 0; background-image: url(../images/blueDot.png);}

/* categories */
.classic-theme #wlt-DealCategorySelect ul {margin:0; padding: 0; list-style-type: none}
.classic-theme #wlt-DealCategorySelect ul li {padding:.5em 0; margin: 0; border-top: 1px solid #ddd}
.classic-theme #wlt-DealCategorySelect ul li a {font-weight: bold;}
.classic-theme #wlt-DealCategorySelect ul.horizontal li {padding:.5em 0; margin: .5em 1em; border-top: none;}

/* signin/signup styling */
.classic-theme .signInBox {float: right; width: 30%; text-align: center; background-color: #ddf2d0;}
.classic-theme .signInBox #signInButton {margin-left: -4px; font-weight: bold; background: url(../images/button.png) 0 0 no-repeat; width: 149px; height: 37px; color: #fff; border: 0; padding: 0 0 3px 0; cursor: pointer}
.classic-theme .signupFormDiv {width: 65%;}

/* all deals view */
.classic-theme .allDeal .name {font-size: 120%; font-weight: bold; margin: .2em 0 .5em 0}
.classic-theme .allDeal .viewLink a {display: block; text-align:center; margin-left: -4px; font-weight: bold; background: url(../images/button.png) 0 0 no-repeat; width: 149px; height: 27px; color: #fff; border: 0; padding: 10px 0 3px 0;}

/* deal pricing options */
.classic-theme .priceOption {border-top: 1px solid #d9d9d9; padding: .5em 0}
.classic-theme .priceOption:first-child {border-top: none}
.classic-theme .priceOption .title a {color: #5a8e22; text-decoration: none;}
.classic-theme .priceOption .colborder {border: none;}
.classic-theme .priceOption a.priceBuyButton {width: 65px; height: 25px; line-height: 25px; text-align: center; background: #66bc29 url(../images/buyButtonSmallBcg.png) 0 0 no-repeat; color: #fff; font-size: 120%; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: block;}
.classic-theme .priceOption a.priceBuyButton:hover {text-decoration: none}